<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Styles/LayoutStyles.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border: transparent;">
        <div class="container">

            <div class="navbar-header">

                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/logo-transparent-white.png" alt="Site Logo" style="height:30px; width: 30px; margin-top: -5px;" id="yes" />
                    </a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--  "at"Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { "at"class = "navbar-brand" }) -->

            </div>

            <div class="navbar-collapse collapse" style="color: #ffffff;">
                <ul class="nav navbar-nav">
                    <li id="test">@Html.ActionLink("Home", "Index", "Home", null, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("My Gigs", "CustomerCentral", "Home", null, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("Bid on a Project", "CompanyCentral", "Home", null, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @style = "color:#ffffff;" })</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="background: url(@Url.Content("~/Content/Images/DarkNails.jpg")) no-repeat 50% 50%; background-size: cover; height: 100%; width: 100%;">
        <div class="container body-content">
            @RenderBody()

        </div>

    </div>

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Matt Morgan</p>
            <p id="k">test</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
