<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contractor Find</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/Styles/LayoutStyles.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border: transparent;">
        <div class="container">

            <div class="navbar-header">

                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Content/Images/Whitewrenchlogo9.png" alt="Site Logo" style="height: 35px; width: 35px; margin-top: -7px;" id="yes" />
                    </a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--  "at"Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { "at"class = "navbar-brand" }) -->

            </div>

            <div class="navbar-collapse collapse" style="color: #ffffff;">
                <ul class="nav navbar-nav">
                    <li id="test">@Html.ActionLink("Home", "Index", "Home", null, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("My Projects", "CustomerCentral", "Home", null, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("Contractor Portal", "CompanyCentral", "Home", new { reason = "You must use a contractor account to access this page." }, new { @style = "color:#ffffff;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @style = "color:#ffffff;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div>
        <div class="container body-content">
            @RenderBody()
        </div>

        <div class="yeso">

        </div>
    </div>


    <div style="margin-top: -1px;" class="footer">
        <div class="container body-content">
        <!--    <hr />  -->
            <footer style="margin-top: 10px;">
                <p>&copy; @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
