@model IEnumerable<ContractorFind.Models.Gig>

@{
    ViewBag.Title = "My Projects";
}

<h2>My Projects</h2>

<br /> 

<p><a href="@Url.Action("CreateGig", "Home")" class="btn btn-lg btn-primary">Create New Project &raquo;</a></p>

<br />

@foreach (var item in Model)
{
    <div style="border: 1px solid #cdcdcd; margin-top: 16px; padding: 14px; border-radius: 4px; background-color: #fdfdfd;" class="list-group">
        <div style="width:100%; text-align: center; font-size: 18px; margin-bottom: 10px;">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div style="width: 50%; float: left; text-align: center;">
            <div>
                @Html.DisplayFor(modelItem => item.Type)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Footprint) sq ft
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </div>
        </div>
        <div style="width: 50%; float: left; text-align: center;">
            <div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.PriceMessage)
            </div>
        </div>
        <div style="width: 100%; text-align: center;">
            @Html.ActionLink("View Bids", "ViewBids", new { gigId = item.Id }) |
            @Html.ActionLink("Edit", "Error", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "DeleteGig", new { gigId = item.Id })
        </div>
    </div>
}


